.has-feedback {
  position: relative;

  .form-control-feedback {
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 3.6em;
    margin: 0 1em;
    color: #b8b8b8;
  }
}

.form-group {
  &.text-right {
    text-align: right;

  }
}