$container-max-widths: (
        sm: 576px,
        md: 720px,
        lg: 810px,
        xl: 810px
) !default;

$grid-breakpoints: (
  // Extra small screen / phone
        xs: 0,
  // Small screen / phone
        sm: 544px,
  // Medium screen / tablet
        md: 680px,
  // Large screen / desktop
        lg: 810px,
  // Extra large screen / wide desktop
        xl: 1200px
) !default;

$grid-columns: 30 !default;

$input-bg: #fafafa;
$input-border-color: #eeeeee;
$input-color-placeholder: #b8b8b8;
$input-padding-y: 1rem;
$input-padding-x: 2.5rem;

$fa-font-path: "../fonts" !default;
